Validator classifies null values as invalid

According (RFC 7643, section 2.5)[https://datatracker.ietf.org/doc/html/rfc7643#section-2.5]
> Unassigned attributes, the null value, or an empty array (in the case
   of a multi-valued attribute) SHALL be considered to be equivalent in
   "state".  Assigning an attribute with the value "null" or an empty
   array (in the case of multi-valued attributes) has the effect of
   making the attribute "unassigned".  When a resource is expressed in
   JSON format, unassigned attributes, although they are defined in
   schema, MAY be omitted for compactness.

However, current validator doesn't respect this, so we gotta strip away all attributes with null values to satisfy this validator, which represent extra work.