Cannot validate multi-valued attribute of primitive values

According [RFC 7643,section 2.4](https://datatracker.ietf.org/doc/html/rfc7643#section-2.4):

> Multi-valued attributes contain a list of elements using the JSON
   array format defined in [Section 5 of [RFC7159]](https://datatracker.ietf.org/doc/html/rfc7159#section-5).  Elements can be
   either of the following:
> 
 > o  primitive values, or

Hence I would expect schema like this to work:
```json
{
          "name": "tags",
          "type": "string",
          "mutability": "readWrite",
          "returned": "default",
          "uniqueness": "none",
          "required": false,
          "multiValued": true,
          "caseExact": false
}
```

However, validator crashes with that once validating with  payload including`"tags": ["Chewbag"]`: 
```
Type error: Tmilos\ScimSchema\Validator\SchemaValidator::validateByAttributes(): Argument #1 ($object) must be of type array, string given, called in /Users/gostrolucky/Documents/eqs/data-center-api/vendor/tmilos/scim-schema/src/Validator/SchemaValidator.php on line 86

```